.tms-consent_no-consent-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
    color: white;
    overflow: hidden;
    padding: 1rem;
    font-size: 80%;
    display: none;
    &.consent-needed {
        display: block;
    }
    p {
        margin-bottom: 1rem;
    }
    button[data-consent-button="true"] {
        border: none;
        background: white;
        padding: .25rem .5rem;
        margin-bottom: 1rem;
        outline: none;
        &:hover {
            background: rgba(white, .9);
        }
    }
    img {
        max-width: 50%;
        height: auto;
    }
    @media (min-width: 576px) {
        padding: 2rem;
        font-size: 100%;

        img {
            max-width: 66%;
        }
    }
}
